application.properties
# Ignorar arquivos do Maven
target/
!target/*.jar
!target/*.war

# Arquivos de configuração do IntelliJ IDEA
.idea/
*.iml

# Arquivos de configuração do Eclipse
.project
.classpath
.settings/

# Arquivos de configuração do NetBeans
nbproject/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de compilação do Gradle
.gradle/

# Dependências locais do Maven
.m2/

# Logs e arquivos temporários
*.log
*.out

# Arquivos de compilação do Maven (não apenas o diretório target, mas também arquivos de plugin)
*.class
*.jar
*.war
*.ear

# Arquivos de configuração de logs
log/

# Arquivos de configuração do Spring Boot (por exemplo, arquivos de banco de dados)
application.properties

# Outros arquivos temporários
*.swp
*~

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
/.vscode/
demo/bd-project/src/main/resources/application.properties
